{
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": ".eslintrc.json",
      "options": {"parser": "json5"}
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "embeddedLanguageFormatting": "off",
        "tabWidth": 4
      }
    },
    {
      "files": [".prettierrc", "*.json"],
      "options": {"parser": "json"}
    }
  ]
}
